


/*-------- Text-Body -------- */


#text-container {
    grid-column-start: 3;
    grid-column-end: 7;
    margin-bottom:100px;
}

    #text-container p {
        padding-bottom: 10px;
    }




#img-container {
    grid-column-start: 8;
    grid-column-end: 11;
}

    #img-container img {
        width: 100%;
        object-fit: contain;
    }


/*-------- Trainingszeiten -------- */

.kalender-grid {
}

/*-------- Der Unterricht -------- */

.subsection-container {
    margin: 50px auto
}

    .subsection-container h4 {
        grid-column-start: 3;
        grid-column-end: 5;
        color: #000;
        text-align: justify;
        font-family: "Yuji Syuku";
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.1px;
    }

    .subsection-container .unterricht-text-container {
        grid-column-start: 7;
        grid-column-end: 11;
        margin-bottom:100px;
    }

        .subsection-container .unterricht-text-container p {
            padding-bottom: 10px;
        }


/*-------- Der Lehrer-------- */
.lehrer-img-container {
    grid-column-start: 3;
    grid-column-end: 5;
}

    .lehrer-img-container img {
        width: 100%;
        object-fit: contain;
    }

.lehrer-name-container {
    grid-column-start: 3;
    grid-column-end: 7;
}

    .lehrer-name-container h4 {
        color: #000;
        font-family: "Yuji Syuku";
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.1px;
        padding-top: 25px;
        padding-bottom: 25px;
    }


.lehrer-text-container {
    grid-column-start: 3;
    grid-column-end: 7;
}

    .lehrer-text-container p {
        padding-bottom: 10px;
    }


    .lehrer-text-container a {
        padding-bottom: 10px;
    }

.interesse-container {
    grid-column-start: 8;
    grid-column-end: 11;
}

.interesse-text-container {
    grid-column-start: 9;
    grid-column-end: 11;
}

    .interesse-text-container p {
        color: #000;
        font-family: "Yuji Syuku";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px; /* 135.714% */
        letter-spacing: 1.4px;
    }


.label-container p {
    margin-top: 25px;
    float: right;
    color: #000;
    text-align: right;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    letter-spacing: 6.16px;
}

.label-container button {
    float: right;
}


.label-container::after {
    content: "";
    display: block;
    clear: both;
}

.input-container {
    margin-top: 5px;
    margin-bottom: 15px;
}
    .input-container input {
        width: 298px;
        height: 42px;
        padding: 0 5px;
        flex-shrink: 0;
        border: 1px solid #000;
    }

.big-input-box textarea {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 298px;
    height: 309px;
    padding: 5px;
    flex-shrink: 0;
    border: 1px solid #000;
}




/*-------- Veranstaltungen -------- */

.veranstaltungen-container {
    grid-column-start: 3;
    grid-column-end: 7;
}
