
/*----- Text ------*/

#text-container {
    grid-column-start: 3;
    grid-column-end: 11;
    margin-bottom: 50px;
}

    #text-container p {
        padding-bottom: 10px;
    }

/*----- Probetraining und Inputs ------*/

.probetraining-text-container {
    grid-column-start: 3;
    grid-column-end: 6;
    margin-bottom: 50px;
}

    .probetraining-text-container p {
        padding-bottom: 10px;
    }



.interesse-container {
    grid-column-start: 7;
    grid-column-end: 11;
}

.interesse-text-container {
    grid-column-start: 9;
    grid-column-end: 11;
}

    .interesse-text-container p {
        color: #000;
        font-family: "Yuji Syuku";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px; /* 135.714% */
        letter-spacing: 1.4px;
    }


.label-container p {
    margin-top: 25px;
    float: right;
    color: #000;
    text-align: right;
    font-family: "PT Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
    letter-spacing: 6.16px;
}

.label-container button {
    float: right;
}


.label-container::after {
    content: "";
    display: block;
    clear: both;
}

.input-container {
    margin-top: 5px;
    margin-bottom: 15px;
}

    .input-container input {
        width: 100%;
        height: 42px;
        padding: 0 5px;
        flex-shrink: 0;
        border: 1px solid #000;
    }

select option {
    background-color: red;
    border-radius: 0;
}

.big-input-box textarea {
    width: 100%;
    height: 309px;
    padding: 5px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin-top: 5px;
    margin-bottom: 15px;
}


/*----- Informationen für Neulinge ------*/

.headline-neulinge {
    grid-column-start: 3;
    grid-column-end: 11;
    margin-bottom: 25px;
}


.default-grid ul {
    grid-column-start: 4;
    grid-column-end: 11;
    list-style-position: inside;
}

    .default-grid ul li {
        padding-bottom: 10px;
    }


#verhaltensregeln-container {
    grid-column-start: 3;
    grid-column-end: 11;
}


.verhaltensregeln-grid {
    grid-template-rows: auto auto auto auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

    .verhaltensregeln-grid h5 {
        color: #000;
        text-align: justify;
        font-family: "PT Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.4px;
        padding-bottom: 10px;
    }

    .verhaltensregeln-grid img {
        width: 100%;
        object-fit: contain;
    }

    .verhaltensregeln-grid div ul li {
        padding-left: 10px;
    }

#img1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 1;
    margin-bottom: 25px;
}

#beschreibung1 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 0;
    grid-row-end: 1;
}

#img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 25px;
}

#beschreibung2 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}


#img3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 25px;
}

#beschreibung3 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

#img4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 25px;
}

#beschreibung4 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}


/*----- Wegbeschreibung ------*/


#wegbeschreibung-container {
    grid-column-start: 3;
    grid-column-end: 6;
    margin-bottom: 50px;
}

    #wegbeschreibung-container p {
        padding-bottom: 10px;
    }


#map-container {
    grid-column-start: 3;
    grid-column-end: 12;
    margin-bottom: 100px;
}


    #map-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }


#bis-bald-container {
    margin-top: 250px;
    margin-bottom: 450px;
    text-align: center;
}

    #bis-bald-container p {
        color: #000;
        text-align: center;
        font-family: "Yuji Syuku";
        font-size: 31px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.1px;
    }
