

/*----- carousel - neu -----*/
.control-container {
    height: 450px;
    margin: 0 13.33%;
}

.carousel-item-container-neu {
    position: relative;
    height: 450px;
    margin: 0 10.42%;
}

.carousel-item-headline-neu {
    position: relative;
    height: 42px;
    margin-bottom:35px;
}

.headline-container-neu {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.headline-neu {
    font-family: "Yuji Syuku", serif;
    font-size: 32px;
    letter-spacing: .10em;
    margin-right: -.10em;
}

.headline-annotation-neu {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    text-align: right;
    vertical-align: central;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

.carousel-body-container {
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.carousel-image-container img{
    object-fit:contain;
    max-height: 375px;
}

.carousel-text-container {
    padding-right: 8.85%;
}


.carousel-body-container::after {
    content: "";
    display: block;
    clear: both;
}
