<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog-Konfiguration für Tests (ASPNETCORE_ENVIRONMENT=Test): nur Warnungen auf die Konsole, nichts an BetterStack -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="Microsoft*" maxlevel="Info" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Warn" writeTo="console" />
	</rules>
</nlog>
