
/*----- Überschrift mit unterschrift und Anekdote -----*/

#headline-grid {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

#inner-grid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom:50px;
}

#anekdote {
    position: absolute;
    bottom: 0;
    right: 0;
}

    #anekdote p {
        color: #000;
        text-align: right;
        font-family: "Yuji Syuku";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.36px;
    }


/* ----- "Watermark" Rechts ----- */

.überschrift-container{
    position:relative;
}

#vertical-content {
    position: absolute; /*TODO FIxed*/
    right: 40px;
    top: 0px;
    float: right;
    width: auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Yuji Syuku", serif;
    font-size: 44px;
    line-height: 75px;
    letter-spacing: .4em;
    color: #000;
    text-align: center;
    font-feature-settings: 'expt' on, 'jp78' on, 'nlck' on, 'jp90' on, 'hojo' on;
    font-family: "Yuji Syuku";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}