/*:root {
    --default-text-color: #000;
    --highlight-text-color: #2A6749;

    --pt-sans-regular-14-font-family: "PT Sans", Helvetica;
    --pt-sans-regular-14-font-weight: 400;
    --pt-sans-regular-14-font-size: 14px;
    --pt-sans-regular-14-letter-spacing: 1.4px;
    --pt-sans-regular-14-line-height: normal;
    --pt-sans-regular-14-font-style: normal;
    --PT-sans-bold-14-font-family: "PT Sans", Helvetica;
    --PT-sans-bold-14-font-weight: 700;
    --PT-sans-bold-14-font-size: 14px;
    --PT-sans-bold-14-letter-spacing: 1.4px;
    --PT-sans-bold-14-line-height: normal;
    --PT-sans-bold-14-font-style: normal;
    --yuji-berschrift-font-family: "Yuji Syuku", Helvetica;
    --yuji-berschrift-font-weight: 400;
    --yuji-berschrift-font-size: 31px;
    --yuji-berschrift-letter-spacing: 3.1px;
    --yuji-berschrift-line-height: normal;
    --yuji-berschrift-font-style: normal;
    --yuji-14-spaced-font-family: "Yuji Syuku", Helvetica;
    --yuji-14-spaced-font-weight: 400;
    --yuji-14-spaced-font-size: 14px;
    --yuji-14-spaced-letter-spacing: 1.4px;
    --yuji-14-spaced-line-height: 19px;
    --yuji-14-spaced-font-style: normal;
    --PT-sans-regular-spaced-font-family: "PT Sans", Helvetica;
    --PT-sans-regular-spaced-font-weight: 400;
    --PT-sans-regular-spaced-font-size: 14px;
    --PT-sans-regular-spaced-letter-spacing: 6.16px;
    --PT-sans-regular-spaced-line-height: 19px;
    --PT-sans-regular-spaced-font-style: normal;
    --kanjischrift-font-family: "Yuji Syuku", Helvetica;
    --kanjischrift-font-weight: 400;
    --kanjischrift-font-size: 27px;
    --kanjischrift-letter-spacing: 34.83px;
    --kanjischrift-line-height: normal;
    --kanjischrift-font-style: normal;
    --kapitel-berschrift-font-family: "PT Sans", Helvetica;
    --kapitel-berschrift-font-weight: 400;
    --kapitel-berschrift-font-size: 12px;
    --kapitel-berschrift-letter-spacing: 7.08px;
    --kapitel-berschrift-line-height: normal;
    --kapitel-berschrift-font-style: normal;
    --variable-collection-blau-dunkel: rgba(7, 73, 115, 1);
    --variable-collection-blau-hell: rgba(156, 193, 217, 1);
    --variable-collection-gelb: rgba(230, 177, 90, 1);
    --variable-collection-rot-stark: rgba(140, 3, 3, 1);
    --variable-collection-rot-dunkel: rgba(89, 2, 2, 1);
    --variable-collection-dunkelgr-n: rgba(42, 79, 61, 1);
    --variable-collection-hellgr-n: rgba(165, 202, 184, 1);
    --variable-collection-g30: rgba(185, 203, 194, 1);
    --variable-collection-g40: rgba(164, 188, 176, 1);
    --variable-collection-g50: rgba(144, 174, 159, 1);
    --variable-collection-g60: rgba(123, 160, 142, 1);
    --variable-collection-g80: rgba(83, 131, 107, 1);
    --variable-collection-g90: rgba(63, 118, 91, 1);
    --variable-collection-g100: rgba(42, 103, 73, 1);
}
*/